#Gallery {
  padding: 48px;
  width: 100vw;
}
.bxslider div img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
#GalleryGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax (150px, auto);
  grid-gap: 10px;
  grid-template-areas:
    "a a a"
    "b b c"
    "d e c"
    "f f g";
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.image1 {
  grid-area: a;
}
.image2 {
  grid-area: b;
}
.image3 {
  grid-area: c;
}
.image4 {
  grid-area: d;
}
.image5 {
  grid-area: e;
}
.image6 {
  grid-area: f;
}
.image7 {
  grid-area: g;
}
