#Gallery {
  width: 100vw;
}
#bigImage {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: none;
}
#GalleryGrid {
  width: 100%;
  padding: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax (150px, auto);
  grid-gap: 10px;
  grid-template-areas:
    "a a a"
    "b b c"
    "d e c"
    "f f g"
    "h i g"
    "h j k"
    "l m n"
    "o m p"
    "q q q"
    "r r s"
    "r r s";
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.image1 {
  grid-area: a;
}
.image2 {
  grid-area: b;
}
.image3 {
  grid-area: c;
}
.image4 {
  grid-area: d;
}
.image5 {
  grid-area: e;
}
.image6 {
  grid-area: f;
}
.image7 {
  grid-area: g;
}
.image8 {
  grid-area: h;
}
.image9 {
  grid-area: i;
}
.image10 {
  grid-area: j;
}
.image11 {
  grid-area: k;
}
.image12 {
  grid-area: l;
}
.image13 {
  grid-area: m;
}
.image14 {
  grid-area: n;
}
.image15 {
  grid-area: o;
}
.image16 {
  grid-area: p;
}
.image17 {
  grid-area: q;
}
.image18 {
  grid-area: r;
}
.image19 {
  grid-area: s;
}

@media screen and (min-width: 768px) {
  #bigImage {
    display: block;
  }
  #GalleryGrid {
    display: none;
  }
}
